%h3= @oven.name

.cookie-info
  Cookies in oven:
  - if @oven.cookies.size > 0
    #{pluralize(@oven.cookies.size, "cookie")} with #{@oven.cookies.first.fillings || "no fillings"}
    - if @oven.cookies.last.ready?
      (Your #{"Cookie".pluralize(@oven.cookies.size)} #{"is".pluralize(@oven.cookies.size)} Ready)
      = button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny'
  - else
    None

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
